<p id="notice"><%= notice %></p>

<p>
  <b>Start:</b>
  <%= @show.start %>
</p>

<p>
  <b>Endtime:</b>
  <%= @show.endtime %>
</p>

<p>
  <b>Address:</b>
  <%= @show.address %>
</p>

<p>
  <b>Town:</b>
  <%= @show.town %>
</p>

<p>
  <b>State:</b>
  <%= @show.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @show.zip %>
</p>

<p>
  <b>Venue:</b>
  <%= @show.venue %>
</p>

<p>
  <b>Venue url:</b>
  <%= @show.venue_url %>
</p>

<p>
  <b>Event:</b>
  <%= @show.event %>
</p>

<p>
  <b>Ticket:</b>
  <%= @show.ticket %>
</p>

<p>
  <b>Ticket url:</b>
  <%= @show.ticket_url %>
</p>

<p>
  <b>Cobill1:</b>
  <%= @show.cobill1 %>
</p>

<p>
  <b>Cobill2:</b>
  <%= @show.cobill2 %>
</p>

<p>
  <b>Cobill3:</b>
  <%= @show.cobill3 %>
</p>

<p>
  <b>Permalink:</b>
  <%= @show.permalink %>
</p>


<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
